@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100;
  font-family: 'Inter', sans-serif;
}

.sidebar-btn {
  @apply flex items-center gap-3 w-full px-4 py-2 rounded-lg
  text-gray-300 hover:bg-gray-800 transition;
}